/* Variable */

:root{
   --primary-color: #E02C6D;
   --card-text-color: rgba(24, 25, 31, 1);
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-paragraph {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  /* font-weight: 100; */
  font-style: normal;
}


body{
  max-width: 1880px;
  margin: 0;
}

/* Header */
header{
  max-width: 1440px;
  margin: 0 120px;
  margin-top: 85px;
}
/* Nav */

nav{
  display: flex;
  justify-content: space-between;
}
.brand{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: -8px;
  color: #3A3A3A;
  text-wrap: nowrap;
}
.menu ul{
  display: flex;
  gap: 34px;
}

.menu ul li{
  
  list-style-type: none;
}
.menu ul li a{
  font-size: 1rem;
  font-weight: 550;
  color: #3A3A3A;
  text-decoration: none;
}























/* Responsive */


/* Mobile */

@media screen and (max-width: 576px) {

  nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .brand{
    text-wrap: nowrap;
  }

  .menu ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: -50px;
  }
  
}

/* Tab */

@media screen and (min-width: 576px) and (max-width: 992px) {

  header{
    margin: 20px 50px 0px 50px;
  }
}